.imgtag {
  width: 50px;
  height: 50px;
}
.table {
  margin-left: 2rem;
}

.paginationBttns {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #4232a8;
  color: #4232a8;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #4232a8;
}

.paginationActive a {
  color: white;
  background-color: #4232a8;
}

.paginationDisabled a {
  display: none;
}
